body {
	background: black;
	font-family: Arial;
	color: #FFF;
}
a {
	color: red;
}
p, h1, h2, h3, li {
	background: #555;
	padding: 10px 10px 10px 10px;
}

br {
	background: #555;
	padding: 10px 10px 10px 10px;
}