body {
	background: black;
	font-family: 'Khula', sans-serif;
	color: #FFF;
}

.round {
	border-radius: 50%;
	display:inline;
}
.site {
      padding-top: 30px;
      padding-right: 80px;
      padding-bottom: 50px;
      padding-left: 80px;
}
a, h2 {
	color: orange;
}

a:visited {
	color: peach;
}

a:hover {
	color: #FEB494;
}


h1 {
	color: orange;
	display:inline;
}

h2.build, h3 {
	background: #212121;
	padding: 10px 10px 10px 10px;
	border-radius: 25px;
	font-weight: bold;
}

p {
	font-size: 12pt;
}


.button {
  background-color: #424242;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #212121;
}


.oneui-footer {
 border-radius: 30px;
 padding: 15px;
 width: 100%;
 text-align: left;
}

.oneui{
 border-radius: 30px;
 background-color: #212121;
 padding: 15px;
 width: 100%;
 text-align: left;
}

.nogap{
	margin:0;
}

.large{
	font-size:14pt;
}
