html {
  overflow-x: hidden;
}

body {
  color: #FFF;
	background: #005EB8;
	font-family: 'Khula', sans-serif;
  font-size: 0;
  margin: 2vw 2vw;
}

p {
  text-align: center;
  margin-top: 2vw;
}

p.notes {
  font-size: 1.75vw;
  text-align: left;
  margin-left: 9vw;
  margin-top: 0.5vw;
}

p.copyright {
  font-size: 0.85vw;
  position: absolute;
  bottom: 0;
  right: 1%;
  margin-bottom: 1vw;
}

p.time {
  font-size: 7vw;
  margin-bottom: 3.5vw;
}

#topTime {
  margin-top: 6vw;
}

#currentTime, input {
  color: white;
  background: #1c64bd;
  font-family: 'Khula', sans-serif;
  font-size: 7vw;
  text-align: center;
  width: 30vw;
  border: none;
  border-radius: 30px;
  outline: none;
}

#currentTime {
  padding: 3px 18.95px 3px 25.3px;
}

div.menu {
  background: #1c64bd;
  height: 6vw;
  margin-left: 5vw;
  margin-right: 5vw;
	border-radius: 20px;
	margin-top: 75px;
}

button {
	font-size: 2.75vw;
	text-align: center;
  width: 25vw;
  height: 4vw;
	border-radius: 25px;
	border-color: white;
	border-width: 2px;
  margin-top: 1vw;
  margin-left: 5.5%;
	transition-duration: 0.3s;
  outline: transparent;
  cursor: pointer;
}

button.oforh {
  color: #F9A825;
  background: #1976D2;
}

button.nhs {
  color: #d9d9d9;
  background: #005EB8;
}

button.simply {
  color: #06ADEF;
  background: #ebebeb;
  border: none;
}

button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button.oforh:hover {
		color: #ff9b0f;
}

button.nhs:hover {
  color: white;
}

button.simply:hover {
  color: #00ccff;
}

button:focus {
	outline-style: groove;
	outline-width: 1px;
	outline-offset: 2px;
	outline-color: #404244;
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {

  p.time {
    font-size: 50px;
    margin-bottom: 1vw;
  }

  #topTime {
    margin-top: 12vw;
  }

  p.notes {
    font-size: 20px;
    text-align: center;
    margin-left: inherit;
  }

  p.copyright {
    font-size: 1.85vw;
    right: 2%;
    margin-bottom: 2vw;
  }

  div.menu {
    margin-bottom: 2vw;
    height: 197.5px;
  }

  input {
    font-size: 50px;
    width: 254px;
  }

  #currentTime {
    font-size: 50px;
    padding-left: 28.15px;
    padding-right: 29.25px;
  }

  button {
    font-size: 25px;
    width: 65vw;
    height: 50px;
    margin-top: 3vw;
    margin-left: 10vw;
  }

}
