body {
	background: #005EB8;
	font-family: 'Khula', sans-serif;
	color: #FFF;
  margin: 2vw 2vw;
}

p {
  text-align: center;
  margin-top: 2vw;
}

p.notes {
  margin-top: 0.5vw;
  margin-left: 13.5vw;
  text-align: left;
  font-size: 1.75vw;
}

p.time {
  font-size: 5.5vw;
  margin-bottom: 3.5vw;
}

p.title {
  font-size: 3.5vw;
  margin-bottom: 5vw;
}


input {
  font-size: 5vw;
  border: none;
  text-align: center;
  width: 23vw;
  color: white;
  background: #1c64bd;
  border-radius: 30px;
}

div.menu {
  margin-left: 10vw;
  margin-right: 10vw;
	background: #1c64bd;
	border-radius: 20px;
  height: 6.5vw;
	margin-top: 75px;
}

button {
	background: ;
  color: ;
	font-size: 2vw;
	text-align: center;
	border-radius: 25px;
	border-color: white;
	border-width: 1px;
	padding: 0.5vw 0.5vw;
	cursor: pointer;
	display: inline-block;
	width: 20vw;
  height: 4vw;
	transition-duration: 0.3s;
	outline: transparent;
	margin: 1.2vw 1.5vw;
}

button.oforh {
  color: #FFA300;
  background: #004fb0;
}

button:hover {
	color: orange;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button:focus {
	outline-style: groove;
	outline-width: 1px;
	outline-offset: 2px;
	outline-color: #404244;
}
