body {
  color: #FFF;
	background: #005EB8;
  font-family: Helvetica, sans-serif;
}

p {
  text-align: center;
}

p.notes {
  font-size: 1.5vw;
  text-align: left;
  margin-left: 14.5vw;
  margin-top: 0.25vw;
  margin-bottom: 0;
}

p.updated {
  color: #a0ace8;
  font-size: 1vw;
  position: fixed;
  left: 0.5vw;
  top: -0.5vw;
}

p#topTime {
  margin-top: 0;
  margin-bottom: 0vw;
}

p#wait {
  margin-top: 1.25vw;
  margin-bottom: 1.25vw;
}

p.copyright {
  color: #d1d1d1;
  font-size: 0.85vw;
  font-weight: bold;
  position: fixed;
  text-align: right;
  bottom: 0;
  right: 7.5px;
}

span#copyrightName {
  font-size: 0.825vw;
  font-weight: 800;
}

a.copyright {
  color: #e3e3e3;
  text-decoration: none;
}

a.copyright:hover {
  color: white;
  font-weight: bolder;
  font-size: 0.9vw;
  text-decoration: underline;
}

p.time {
  font-size: 5vw;
}

div.doseGap {
  font-weight: bold;
  color: #c4dcff;
  margin-top: 1.75vw;
}

span#dateTip {
  font-size: 0.975vw;
  color: #a9cce3;
  position: absolute;
  margin-top: -0.25vw;
  left: 45vw;
}

div.doseGap {
  overflow: auto;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

div.under18, div.above18, div.booster {
  background: #1c64bd;
  float: left;
  border-radius: 25px;
  border-width: 20px;
  border-color: white;
  padding-top: 20px;
  width: 30vw;
  height: 215px;
  margin-left: 30px;
}

div.under18 {
  overflow: auto;
}

span.underCohort {
  font-size: 0.95vw;
}

span#normgap, span#kidgap, span#shortgap, span#threeMonth, span#beyondSix {
  font-size: 17.5px;
  color: white;
  background: #004987;
  font-weight: bolder;
  border-radius: 20px;
  padding: 0.075vw 0.6vw;
}

p#remainTime {
  font-size: 0.95vw;
  color: #72aefc;
  font-style: italic;
  position: fixed;
  right: 5px;
  top: -0.5vw;
}

span#currentTime, span#waitTime {
  color: white;
  background: #1c64bd;
  font-size: 5vw;
  text-align: center;
  display: inline-block;
  width: 25vw;
  border: none;
  border-radius: 30px;
  outline: none;
}

div.menu {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
	border-radius: 20px;
}

button {
	font-size: 2.75vw;
	text-align: center;
  width: 25vw;
  height: 4vw;
	border-radius: 25px;
	border-color: white;
	border-width: 2px;
  margin-top: 1vw;
  margin-left: 2vw;
	transition-duration: 0.3s;
  outline: transparent;
  cursor: pointer;
}

a {
  cursor: pointer;
}

div.date {
  text-align: center;
}

/* Chrome has a strange colour for placeholder text */
input::placeholder {
  color: #b8b8b8;
  font-size: 3vw;
  font-weight: lighter;
}

input#dateInput {
  background: #1c64bd;
  font-size: 3vw;
  font-weight: bolder;
  color: white;
  text-align: center;
  height: 3.25vw;
  width: 60vw;
  border-radius: 25px;
  border-width: 0.5px;
  border-color: white;
  margin-right: 0.5vw;
  outline: transparent;
}

button.date {
  font-size: 2vw;
  background: #1c64bd;
  color: white;
  width: 3.75vw;
  height: 3.75vw;
  margin-right: initial;
  margin-top: initial;
}

button.date:hover {
  color: #ff1f0a;
}

button.date:active {
  color: #00fc58;
  -webkit-transition: color ease;
  -moz-transition:    color ease;
  -ms-transition:     color ease;
  -o-transition:      color ease;
  transition:         color ease;
}

button.oforh {
  color: #F9A825;
  background: #1976D2;
}

button.nhs {
  color: #d9d9d9;
  background: #005EB8;
}

button.manual {
  color: #e8e8e8;
  background: #03787C;
  margin-right: 2vw;
  border-color: #FEFEFE;
}

input:hover, button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button.oforh:hover {
	color: #ff9b0f;
}

button.nhs:hover {
  color: white;
}

button.manual:hover {
  color: white;
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {

  p.time {
    font-size: 50px;
    margin-bottom: 1vw;
  }

  p#remainTime {
    font-size: 2vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  p#topTime {
    margin-top: 25px;
  }

  span#dateTip {
    font-size: 2.5vw;
    left: 39vw;
    margin-top: 0;
  }

  div.doseGap {
    font-size: 2vw;
    margin-top: 4vw;
    left: 10vw;
  }

  /* Chrome has a strange colour for placeholder text */
  input::placeholder {
    font-size: 5vw;
  }

  p.normGap {
    font-size: 12.5px;
    margin-top: 5vw;
    margin-bottom: 2.5px;
    margin-left: inherit;
    margin-right: inherit;
  }

  p.kidGap {
    font-size: 10.5px;
    margin-top: 2px;
    margin-bottom: 2.5px;
    margin-right: 30px;
    margin-left: inherit;
  }

  p.shortGap {
    text-align: left;
    font-size: 12.5px;
    margin-top: 2px;
    margin-left: 45px;
    margin-right: inherit;
  }

  span#normgap, span#shortgap {
    font-size: 15px;
  }

  span#kidgap {
    font-size: 12px;
  }

  a:hover {
    font-size: 1.8vw;
  }

  a.copyright:hover {
    font-size: 2.2vw;
  }

  div.date {
    margin-top: 10vw;
  }

  input#dateInput {
    font-size: 4vw;
    height: 7vw;
    width: 60vw;
    margin-right: 1.5vw;
  }

  button.date {
    height: 7.25vw;
    width: 8vw;
  }

  p.notes {
    font-size: 17.5px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vw;
  }

  p.copyright {
    font-size: 2.25vw;
    right: 2%;
    margin-bottom: 2vw;
  }

  span#copyrightName {
    font-size: 2.3vw;
  }

  div.menu {
    width: 80vw;
    height: 215px;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
  }

  span#currentTime, span#waitTime {
    font-size: 50px;
    width: 254px;
  }

  button {
    font-size: 25px;
    width: 62.5vw;
    height: 50px;
    margin-top: 4vw;
  }

  button.manual {
    margin-right: inherit;
  }

}
