body {
	background: black;
	font-family: 'Khula', sans-serif;
	color: #FFF;
	font-size: 10pt;
}

img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 75px;
}

div {
	margin: auto;
}

h1 {
	color: orange;
	font-size: 18pt;
	text-align: center;
	margin: 3px;
}

.pagetitle {
	font-size: 24pt;
	margin-top: 20px;
}

h2 {
	text-align: center;
	font-size: 14pt;
	border-radius: 25px;
	padding: 7px 3px 7px 3px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	margin: 0px;
}

p {
	display: inline-block;
	margin-left: 50px;
}

.ouipanel {
	background: #222222;
	border-radius: 25px;
	max-width: 1200px;
	padding: 0px 5px;
	margin-top: 15px;
}

a {
	color: orange;
	font-size: 11pt;
	text-decoration-style: dashed;
}

a:visited {
	color: peach;
}

a:hover {
	color: #FEB494;
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-duration: 0.3s;
}

button {
	background: #3b3b3b;
	font-size: 15pt;
	font-family: 'Khula', sans-serif;
	text-align: center;
	font-weight: bold;
	color: white;
	border-radius: 25px;
	border-color: orange;
	border-width: 2.5px;
	padding: 10px 10px;
	cursor: pointer;
	display: inline-block;
	width: 220px;
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-duration: 0.3s;
	outline: transparent;
	margin: 3px 5px;
}

button:hover {
	color: #FEB494;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button:focus {
	outline-style: groove;
	outline-width: 1px;
	outline-offset: 2px;
	outline-color: #404244;
}

.fas {
	padding: 3px;
}

.breaker {
	max-width: 360px;
	margin: 10px;
	margin-right: auto;
	margin-left: auto;
	border-color: #404244;
}

input {
	color: white;
	display: inline-block;
	border-color: orange;
	background: #3b3b3b;
	border-radius: 25px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

.searchbar {
	height: 30px;
	width: 200px;
	padding-left: 15px;
}

.searchgo {
	height: 35px;
	width: 70px;
}

.invispanel {
	text-align: center;
	border-radius: 25px;
	max-width: 1200px;
	height: 25px;
	padding: 0px 5px;
	margin-top: 15px;
}

#dot {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
}

.dot1 {
	background-color: blue;
}

.dot2 {
	background-color: red;
}

.dot3 {
	background-color: yellow;
}

.dot4 {
	background-color: green;
}
